body
{
	background-color: f8f8f8;
	text-align: center;


}
.link a
{
	color: blue;
	font-size: 18px;
	font-weight: 400;
	background-color: #eaeaea;
}
h2
{
	color: black;
	font-size: 18px;
	background-color: #eaeaea;
	font-weight: 700;

}
.brief-characteristic
{
	color: #707070;
	font-size: 18px;
	font-style: italic;
	line-height: 16px;

}
.skills
{
	color: #484343;
	font-size: 18px;
	font-weight: 400;
	text-align: left;
	line-height: 24px;

}
.characteristic
{
	font-weight: 400;
	font-size: 18px;
	color: black;
	text-align: left;

}

.advantages
{
	text-align: left;
}
.advantages-list
{
	font-size: 16px;
	background-color: white;
	font-style: italic;
	font-size: 18px;
}
.img
{
	 border-radius: 100px;
	 border: 10px solid darkred;
}
.container
{
	color: black;
	font-size: 18px;
}
h3{
	border-top: 3px solid #000000;	
}
.italic{
	font-style: italic;
}